/* section #members {
  height:auto;
} */

#members .col-sm-3 h3, a {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#members img {
  width: 250px;
  height: 250px;
}
.imgborder {
    border: 5px solid black;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}
.imgborder > img {
    opacity: .7
}
.imgborder:hover {

}
.collapse.in {
    text-align: center;
    font-size: 2rem;
    animation-name: textAnimation;
}

#members .col-sm-3 img {
    display: block;
    margin-left: 10%;
}

.hlight:hover .member {
  opacity: 1;
}
.slideToggle h3,h4,p {
  color: #fff;
}
.hlight:hover .imgborder {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #920c0b, 0 0 10px #920c0b, 0 0 15px #920c0b, 0 0 20px #920c0b, 0 0 25px #920c0b;

}
