/* PERSONS STYLING */
section #members {
  height:auto;
}
#members .col-sm-3 h3, a {
  /* font-weight: bold; */
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.imgborder {
    border: 10px solid black;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}
.imgborder > img {
    opacity: .7
}
.imgborder:hover {
    border-color: #d6d6d6;
    opacity: 1;

}
.imgborder:active:focus {
    border-color: #1c5e80;
}
.imgborder:focus {
    border-color: #1c5e80;
}
.collapse.in {
    text-align: center;
    font-size: 2rem;
    animation-name: textAnimation;
}

#members .col-sm-3 img {
    display: block;
    margin-left: 10%;
    /* margin-right: 50%; */
    /*width: 40%;*/
}
/* //PERSONS */
